@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-family: 'Open Sans', sans-serif !important;
}

.popup-container {
    height: auto;
    width: 200px;
    background: white; 
    padding: 10px;
} 

.popup-container h1 {
    padding: 0px;
    margin: 0px;
}

.popup-container hr {
    height: 1px; 
	border: 0;
	background: #D9D9D9;
}

.header img {
    height: 50px;
}

.header {
    display: flex;
    align-items: center;
}

