@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-family: 'Open Sans', sans-serif !important;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container h1 {
    padding: 0px;
    margin: 0px;
}

.container p {
    font-size: 15px;
}

.main {
    width: 500px;
    margin: 50px;
}

.header img {
    height: 35px;
    margin-right: 10px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

hr {
    height: 1px;
    border: 0;
    background: #d9d9d9;
    margin: 23px 0;
}

a {
    color: #3b88fd;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}
