@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-family: 'Open Sans', sans-serif !important;
}

.popup-container {
    height: auto;
    width: 300px;
    background: white;
    padding: 10px;
}

.popup-container p,
h1,
h2,
h3 {
    padding: 0px;
    margin: 0px;
}

.popup-container hr {
    height: 1px;
    border: 0;
    background: #d9d9d9;
}

.header img {
    height: 35px;
    margin-right: 10px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.palette {
    margin: 10px 0px;
}

.palette-option {
    display: flex;
    align-items: center;
}

.palette-option h3 {
    padding: 5px;
    margin: 0px;
}

.color-circle {
    margin: 0px 1px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

input:checked + .slider {
    background-color: #3b88fd;
}

input:focus + .slider {
    box-shadow: 0 0 1px #3b88fd;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

.apply {
    display: flex;
    align-items: center;
    margin: 10px 5px;
    position: relative;
}

.footer {
    position: relative;
}

.footer-content {
    margin: 5px 0px 15px;
    position: absolute;
    right: 0px;
}

.footer-content p:hover {
    color: #3b88fd;
    cursor: pointer;
    text-decoration: underline;
}

.toggle {
    position: absolute;
    right: 0px;
}
